@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 2rem);
  grid-template-rows: repeat(6, 2rem);

}

.grid-date-header {
  grid-template-columns: repeat(7, 2rem);
  grid-template-rows: repeat(1, 2rem);
  justify-items: center;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resizeable {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8px;
  min-height: 24px;
}

.resizer {
  position: absolute;
}

.resizer-b {
  cursor: row-resize;
  height: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

@media(max-width : 1080px) {
  .calendar {
    grid-template-columns: repeat(7, 2rem);
    grid-template-rows: repeat(6, 2rem);

  }

  .grid-date-header {
    grid-template-columns: repeat(7, 2rem);
    grid-template-rows: repeat(1, 2rem);
    justify-items: center;
  }
}

.task-animation {
  animation: fadeIn 150ms ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}